/* INICIAMOS RESETEANDO TODO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la etiqueta padre "contenedor" */
.contenedor{
    background-color: antiquewhite;
    /* propiedad flex */
    display: flex; 
    flex-direction: row; /*  por defecto trabaja en row (filas) */
    /* para que las propiedades de flex-wrap funcionen con las columnas hay que definir la altura del padre */
    height: 700px;

    flex-wrap: wrap; /* (por defecto viene en nowrap) */
    /* desde el contenedor tambien se puede usar la propiedad gap / row-gap (renglones horizontales) / column-gap (renglones verticales) para generar un espacio entre los hijos */
    gap: 20px; /* (se suma al margin, pero este solo genera espacio entre ellos, no entre los limites del navegador) */
    justify-content: center;
}

/* Estilos de las etiquetas hijo "hijo" */
.hijos{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 10px;
    
}


/* ESTILOS PARA EJEMPLO.HTML */


/* Estilos de header */
header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


header nav ul{
    list-style: none; /* sacamos los puntitos de las listas */
    display: flex; /* con el flex la posicion predeterminada es row, asi que nos queda uno al lado del otro */
    column-gap: 20px;
    align-items: center;
    height: 50px;
}

/* Estilos de main */
main{ /* Con estos estilos logramos, que la foto y el texto aparezcan en dos columnas distintas y que ambos esten centrados en el navegador, horizontal y verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 50px;
}

/* La ruta de especifidad en este caso se pone por pura prolijidad, pero no es necesario */
main .texto_main{ /* Con estos estilos pusimmos el contenido del texto centrado en su porcion*/
    text-align: center;
}

main .boton{ /* Aca le damos color y ajustamos el espacio que utiliza el boton, lo convertimos en etiqueta de linea (respetando propiedades de altura) */
    background-color: #51b0df;
    display: inline-block;
    padding: 10px;
    margin-top:  10px;
}

main .texto_main h2 span{
    display: block;
}

/* Estilos de section */
section{
    display: flex;
    text-align: center;
    column-gap: 20px;
    margin-top: 20px;
    background-color: #51b0df;
    padding: 30px;
}

/* Estilos de footer */
footer{
    margin-top: 40px;
}

footer p{
    text-align: center;
}