/* Bucles */
$button-sizes:(
    small:20px,
    medium: 30px,
    large: 40px,
);

@each $size, $value in $button-sizes{
    .button-#{$size} {
        font-size: $value;
        padding: $value/2;
    }
}